<p id="notice"><%= notice %></p>

<p>
  <strong>Flight:</strong>
  <%= @seat.flight_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @seat.user_id %>
</p>

<p>
  <strong>Seat num:</strong>
  <%= @seat.seat_num %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
