<p id="notice"><%= notice %></p>

<p>
  <strong>Total seats:</strong>
  <%= @airplane.total_seats %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @airplane.seat %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
